<h3>MultiDeviceSimulator</h3>
@*@using System.Text
    @using System.Net.Http.Headers
    @using Newtonsoft.Json
    @using Device.Simulator.BlazorApp.Services*@

@*@inject DeviceDataSimulate DeviceDataSimulateService
    @inject HttpClient httpClient*@


<h3 class="txt-header">Device Simulator</h3>






@code {

}
